EXPERIMENT 3

ANSH PRATAP SINGH

PRN:- 25070123143

AIM:- STUDY OF TUPLE IN PYTHON

In [2]:
tpl = (7,True,"ANSH")
print(tpl)

(7, True, 'ANSH')

In [3]:
tpl2 = ("apple","banana","orange")
print(tpl2[1])
print(tpl2[-2])

banana
banana

In [5]:
tpl3 = (10,)*5
print(tpl3)

(10, 10, 10, 10, 10)

In [6]:
list = ["SIT",]*5
print(list)

['SIT', 'SIT', 'SIT', 'SIT', 'SIT']

In [10]:
tpl4 = ("apple","banana","orange")
print("before:",id(tpl4))
tpl5 = ("kiwi",)
tpl4+=tpl5
print(tpl4)
print("after:",id(tpl4))

before: 132755476715392
('apple', 'banana', 'orange', 'kiwi')
after: 132755455649856

QUESTION);- MARKS = [90,82,66,76,33]

FIND USING TUPLE

1): MAXIMUM MARKS

2): MINIMUM MARKS

3): TOTAL NO OF STUDENT

4): SUM OF MARKS

5): AVERAGE MARKS OF ALL THE STUDENTS

6): SORT IN ASCENDING ORDER

In [12]:
tpl_MARKS = (90, 82, 66, 76, 33)

# MAXIMUM MARKS
max_marks = max(tpl_MARKS)
print(f"Maximum marks: {max_marks}")

# MINIMUM MARKS
min_marks = min(tpl_MARKS)
print(f"Minimum marks: {min_marks}")

# TOTAL NO OF STUDENT
total_students = len(tpl_MARKS)
print(f"Total number of students: {total_students}")

# SUM OF MARKS
sum_of_marks = sum(tpl_MARKS)
print(f"Sum of marks: {sum_of_marks}")

# AVERAGE MARKS OF ALL THE STUDENTS
average_marks = sum(tpl_MARKS) / len(tpl_MARKS)
print(f"Average marks: {average_marks:.2f}")

# SORT IN ASCENDING ORDER
sorted_marks = sorted(tpl_MARKS)
print(f"Marks sorted in ascending order: {sorted_marks}")

Maximum marks: 90
Minimum marks: 33
Total number of students: 5
Sum of marks: 347
Average marks: 69.40
Marks sorted in ascending order: [33, 66, 76, 82, 90]

QUE)- A student's exam result is stored in a tuple containing three fixed fields:

Subject name, marks obtained, and grade

Display the subject , marks, and grade.

check whether the student has scored 75 or more marks and print "Distinction" if the condition is satisfied.

In [13]:
student_result = ("Python Programming", 85, "A")

subject = student_result[0]
marks = student_result[1]
grade = student_result[2]

print(f"Subject: {subject}")
print(f"Marks Obtained: {marks}")
print(f"Grade: {grade}")

if marks >= 75:
    print("Distinction")

Subject: Python Programming
Marks Obtained: 85
Grade: A
Distinction

Que) An organization records an employe's daily attendance for a week using a tuple, where:

"P" represents Present and "A" represents Absent

write a python program to:

store the attendance reord in a tuple.

count and display the total number of present days.

count and display the total number of absent days.

check whether the employee was absent at least once during the recorded period and display an appropriate message.

In [14]:
attendance_record = ('P', 'P', 'A', 'P', 'P', 'A', 'P')

present_days = attendance_record.count('P')
print(f"Total number of present days: {present_days}")

absent_days = attendance_record.count('A')
print(f"Total number of absent days: {absent_days}")

if 'A' in attendance_record:
    print("The employee was absent at least once during the recorded period.")
else:
    print("The employee was present every day during the recorded period.")

Total number of present days: 5
Total number of absent days: 2
The employee was absent at least once during the recorded period.